@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: grotesk;
  src: url("/public/Grotesk-regular.ttf");
}
@font-face {
  font-family: grotesk-blend;
  src: url("/public/Grotesk-blend.ttf");
}
.border-style {
  border: 1px #e0e0e0;
  border-style: dashed;
}
html {
  cursor: url("/public/images/cursor.svg"), auto;
}
